/* font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* tailwind and daisyui import */
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark ;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f0aa38;
  --color-secondary: teal;
}

body{
  font-family: "Inter", sans-serif;
}

